package cmd

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"
	"github.com/lileio/lile"
)

var cfgFile string

var RootCmd = &cobra.Command{
	Use:   "{{ .Name }}",
	Short: "A gRPC based service",
}

var {{ .CamelCaseName }}Service *lile.Service 

func Execute(s *lile.Service) {
	{{ .CamelCaseName }}Service = s
	if err := RootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(-1)
	}
}
