package cmd

import (
        _ "net/http/pprof"

	"github.com/lileio/lile"
	"github.com/spf13/cobra"
	"google.golang.org/grpc"
	"{{ .RelDir }}"
	"{{ .RelDir }}/server"
)

var upCmd = &cobra.Command{
	Use:   "up",
	Short: "up runs both RPC service",
	Run: func(cmd *cobra.Command, args []string) {
            s := lile.NewService("{{ .Name }}")

            s.Register(func(g *grpc.Server) {
              {{ .SnakeCaseName }}.Register{{ .CamelCaseName }}Server(g, &server.{{ .CamelCaseName }}Server{})
            })

            s.Run()
	},
}

func init() {
	RootCmd.AddCommand(upCmd)
}
