package cmd

import (
	"github.com/sirupsen/logrus"
	"github.com/lileio/lile"
	"github.com/spf13/cobra"
	"{{ .RelDir }}/subscribers"
)

var upCmd = &cobra.Command{
	Use:   "up",
	Short: "up runs both RPC and pubub subscribers",
	Run: func(cmd *cobra.Command, args []string) {
		go func() {
			logrus.Fatal(lile.Serve())

		}()

		lile.Subscribe(&subscribers.{{ .CamelCaseName }}ServiceSubscriber{})
	},
}

func init() {
	RootCmd.AddCommand(upCmd)
}
