package main

import (
	"github.com/lileio/lile"
	"github.com/lileio/lile/fromenv"
	"github.com/lileio/pubsub"
	"{{ .RelDir }}"
	"{{ .RelDir }}/server"
	"{{ .RelDir }}/{{ .SnakeCaseName }}/cmd"
	"google.golang.org/grpc"
)

func main() {
	cmd.Execute()
}
