syntax = "proto3";
option go_package = "{{ .RelDir }}";
package {{ .SnakeCaseName }};

message GetRequest {
  string id = 1;
}

message GetResponse {
  string id = 1;
}

service {{ .CamelCaseName }} {
  rpc Get(GetRequest) returns (GetResponse) {}
}
