syntax = "proto3";
option go_package = "{{ .RelDir }}";
package {{ .SnakeCaseName }};

message Request {
  string id = 1;
}

message Response {
  string id = 1;
}

service {{ .CamelCaseName }} {
  rpc Read (Request) returns (Response) {}
}
