package server

import (
  "os"
	"testing"

  "google.golang.org/grpc"

	"{{ .RelDir }}"
  "github.com/lileio/lile"
)

var s = Server{}
var cli {{ .SnakeCaseName }}.{{ .CamelCaseName }}Client

func TestMain(m *testing.M) {
	impl := func(g *grpc.Server) {
		{{ .SnakeCaseName }}.Register{{ .CamelCaseName }}Server(g, s)
	}

	addr, serve := lile.NewTestServer(
		lile.Name("{{ .SnakeCaseName }}_test"),
		lile.Implementation(impl),
	)

	go serve()

	cli = {{ .SnakeCaseName }}.New{{ .CamelCaseName }}Client(lile.TestConn(addr))

	os.Exit(m.Run())
}
