box: golang
build:
  steps:
    - setup-go-workspace

    # Gets the dependencies
    - script:
        name: go get
        code: |
          go get -t ./...

    # Test the project
    - script:
        name: go test
        code: |
          go test ./... -v 

    # Build the project
    - script:
        name: go build
        code: |
        CGO_ENABLED=0 go build -a -ldflags '-s' -installsuffix cgo -o {{.SnakeCaseName }} .

    # Copy binary to a location that gets passed along to the deploy pipeline
    - script:
        name: copy binary
        code: cp {{ .SnakeCaseName }} "$WERCKER_OUTPUT_DIR"
deploy:
  box: golang
  steps:
    - internal/docker-scratch-push:
        username: $DOCKER_USERNAME
        password: $DOCKER_PASSWORD
        tag: latest
        repository: # username/project
        registry: https://registry.hub.docker.com
        cmd: ./{{.SnakeCaseName}}
        ports: "8000"
